services:
  bot:
    build: .
    environment:
      - WEB_SERVER_PORT=${WEB_SERVER_PORT}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - ALLOWED_CHAT_ID=${ALLOWED_CHAT_ID}
      - TEST_CHAT_ID=${TEST_CHAT_ID}
      - ADMIN_CHAT_ID=${ADMIN_CHAT_ID}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - BOT_DEBUG=${BOT_DEBUG}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - BOT_DEFAULT_PHRASE1=${BOT_DEFAULT_PHRASE1}
      - BOT_DEFAULT_PHRASE2=${BOT_DEFAULT_PHRASE2}
      - BOT_DEFAULT_PHRASE3=${BOT_DEFAULT_PHRASE3}
      - BOT_DEFAULT_PHRASE4=${BOT_DEFAULT_PHRASE4}
      - BOT_DEFAULT_PHRASE5=${BOT_DEFAULT_PHRASE5}
      - BOT_DEFAULT_PHRASE6=${BOT_DEFAULT_PHRASE6}
      - BOT_DEFAULT_PHRASE7=${BOT_DEFAULT_PHRASE7}
      - BOT_DEFAULT_PHRASE8=${BOT_DEFAULT_PHRASE8}
      - GPT_MODEL_FOR_CHATTING=${GPT_MODEL_FOR_CHATTING}
      - GPT_MODEL_FOR_GPT_COMMAND=${GPT_MODEL_FOR_GPT_COMMAND}
      - BASIC_AUTH_USERNAME=${BASIC_AUTH_USERNAME}
      - BASIC_AUTH_PASSWORD=${BASIC_AUTH_PASSWORD}
    depends_on:
      - db
    networks:
      - app-network
    ports:
      - ${WEB_SERVER_PORT}:${WEB_SERVER_PORT}

  db:
    image: mysql:8.0
    ports:
      - "${DB_PORT}:3306"
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network: